* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-family: Comfortaa, cursive;
}

html {
  //position: fixed;
  scroll-behavior: smooth;
}

body {
  overflow: hidden;
  background-color: #000;
}

ul,
li,
ol {
  list-style: none;
}

a,
button,
.clickable-icon {
  color: var(--COLOR_2);
  text-decoration: none;
  display: inline-block;
  margin: 10px;
  cursor: pointer;

  &:hover {
    color: var(--COLOR_3);
    text-decoration: none;
  }
}

h1 {
  color: var(--COLOR_1);
}
