* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-family: Comfortaa, cursive;
}

html {
  //position: fixed;
  scroll-behavior: smooth;
}

body {
  overflow: hidden;
  background-color: #000;
}

ul,
li,
ol {
  list-style: none;
}

a,
button,
.clickable-icon {
  color: var(--COLOR_2);
  text-decoration: none;
  display: inline-block;
  margin: 10px;
  cursor: pointer;

  &:hover {
    color: var(--COLOR_3);
    text-decoration: none;
  }
}

h1 {
  font-size: 45px;
  font-family: "Gwendolyn", cursive;
  color: var(--COLOR_5);
}

h2 {
  font-size: 28px;
  font-family: "Comfortaa", sans-serif;
  color: var(--COLOR_4);
}

h1,
h2 {
  pointer-events: none;
  text-align: center;

  ::selection {
    background: none;
    content: "";
  }
}
