.wrapper {
  --padding: 2px;

  &-row {
    height: 200px;
    display: flex;
    padding: var(--padding) 0;

    > * {
      padding: 0 var(--padding);
    }

    img {
      object-fit: cover;
    }
  }
}

//@media (orientation: landscape) {
//  .image-wrapper > * {
//    height: 50%;
//
//    &:nth-child(5n + 2) {
//      width: 40%;
//    }
//
//    &:nth-child(5n + 1),
//    &:nth-child(5n + 3) {
//      width: 30%;
//    }
//
//    &:nth-child(5n + 4),
//    &:nth-child(5n + 5) {
//      width: 50%;
//    }
//  }
//}
//
//@media (orientation: portrait) {
//  .image-wrapper > * {
//    height: 25%;
//
//    &:nth-child(4n + 1),
//    &:nth-child(4n + 4) {
//      width: 40%;
//    }
//
//    &:nth-child(4n + 2),
//    &:nth-child(4n + 3) {
//      width: 60%;
//    }
//  }
//}
