<div class="image">
    <img src="/public/images/photos/<%= image.name %>" alt="<%= image.id %>">
    <div class="buttons">
        <a href="/view/<%= image.id %>"><i class="fa fa-search-plus"></i></a>
        <a href="/order/<%= image.id %>"><i class="fa fa-plus"></i></a>
    </div>
</div>