@import url("https://fonts.googleapis.com/css2?family=Comfortaa&display=swap");

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-family: "Comfortaa", cursive;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #000;
}

ul,
li,
ol {
  list-style: none;
}

a,
button {
  color: var(--COLOR_2);
  text-decoration: none;
  display: inline-block;
  margin: 10px;
}

a:hover,
button:hover {
  color: var(--COLOR_3);
  text-decoration: none;
}

h1 {
  color: var(--COLOR_1);
}
