#gallery {
}

#gallery > img {
  position: relative;
  z-index: 1;
  left: 0;
  top: 0;
  display: block;
  height: 100vh;
  width: 100vw;
  object-fit: cover;
}

#gallery .gradient {
  position: absolute;
  z-index: 2;
  left: 0;
  top: 0;
  height: 100vh;
  width: 100vw;
  background: linear-gradient(to bottom, #000, rgba(0, 0, 0, 50%), #000);
}

#gallery .image-wrapper {
  overflow-y: scroll;
  position: absolute;
  background-color: rgba(255, 255, 255, 2%);
  box-shadow: inset 0 0 15px rgba(0, 0, 0, 20%);
  z-index: 3;
  height: 85vh;
  width: 90vw;
  left: 50vw;
  top: 50vh;
  transform: translate(-50%, -50%);
}
