@import url("https://fonts.googleapis.com/css2?family=Gwendolyn:wght@700&display=swap");

#title > h1 {
  z-index: 3;
  font-size: 45px;
  pointer-events: none;
  text-align: center;
  font-family: "Gwendolyn", cursive;
  position: absolute;
  color: var(--COLOR_5);
  left: 50vw;
  top: 50vh;
  transform: translate(-50%, -50%);
}

@media screen and (min-width: 850px) {
  #title > h1 {
    font-size: 70px;
  }
}

#title > h1::selection {
  background: none;
  content: "";
}

#title > .gradient {
  background: linear-gradient(
    to top,
    #000,
    rgba(0, 0, 0, 50%) 50%,
    rgba(0, 0, 0, 0),
    rgba(255, 255, 255, 50%)
  );
}

#title > form {
  position: absolute;
  z-index: 2;
  left: 50vw;
  top: 50vh;
  transform: translate(-50%, -50%);
}
