<%- include('../partials/head', { scripts: ['react', 'scroll'] }); %>

<body>
    <section id=stats>
        <%- include('../partials/background', { name: 'primary' }) %>

        <div class=gradient></div>

        <h1> Administration </h1>

        <nav>
            <ul>
                <li><a href="/"> Accueil </a></li>
                <li><a href="/new"> Importer </a></li>
                <li><a href="/admin#settings"> Paramètres </a></li>
            </ul>
        </nav>

        <a class=next href="/admin#settings"><i class="fas fa-sort-down"></i></a>
    </section>

    <section id=settings>
        <%- include('../partials/background', { name: 'secondary' }) %>

        <div class=gradient></div>

        <a class=prev href="/admin#stats"><i class="fas fa-sort-up"></i></a>
    </section>
</body>

