<%- include('../partials/head'); %>

<body style="overflow: hidden">
    <%- include('../partials/colors') %>

    <div id="title" class="section">
        <img src="<%- site.banner %>" alt="website banner">

        <div></div>

        <ul>
            <li><a href="/#gallery"> Gallerie </a></li>
            <li><a href="/#about"> A propos </a></li>
            <% if(admin) { %>
                <li><a href="/admin"> Administration </a></li>
                <li class="more-of-850">
                    <a href="/logout"> Se déconnecter </a>
                </li>
                <li class="less-of-850">
                    <a href="/logout"><i class="fa fa-sign-out-alt"></i></a>
                </li>
            <% } else { %>
                <li><a href="/login"> Se connecter </a></li>
            <% } %>
        </ul>

        <h1> <%= site.name %> </h1>

        <a class=next href="/#gallery"><i class="fas fa-sort-down"></i></a>
    </div>

    <div id=gallery class="section">
        <div class="image-wrapper">
            <% for(const image of images){ %>

            <% } %>
        </div>

        <a class=prev href="/#title"><i class="fas fa-sort-up"></i></a>
        <a class=next href="/#about"><i class="fas fa-sort-down"></i></a>
    </div>

    <div id=about class="section">
        <a class=prev href="/#gallery"><i class="fas fa-sort-up"></i></a>
    </div>
</body>



