<%- include('../partials/head', { scripts: [] }); %>

<body>
    <%- include('../partials/colors') %>

    <section>
        <%- include('../partials/background', { name: 'primary' }) %>

        <div class=gradient></div>

        <nav>
            <ul>
                <li><a href="/"> Accueil </a></li>
            </ul>
        </nav>

        <h1 style="padding-bottom: 250px"> Connection </h1>

        <form action="/login" method="post" style="
            position: absolute;
            z-index: 2;
            left: 50vw;
            top: 50vh;
            transform: translate(-50%, -50%);
        ">
            <input type="text" name="username" placeholder="Username">
            <input type="password" name="password" placeholder="Password">
            <input type="submit" value="Login">
        </form>
    </section>
</body>
