<%- include('../partials/head'); %>

<body style="overflow: hidden">
    <%- include('../partials/colors') %>

    <div id="title" class="section">
        <img src="<%- site.banner ?? "/public/images/banner.jpg" %>" alt="website banner">

        <div></div>

        <ul>
            <li><a href="/"> Accueil </a></li>
        </ul>

        <h1 style="padding-bottom: 250px"> Connection </h1>

        <form action="/login" method="post">
            <input type="text" name="username" placeholder="Username">
            <input type="password" name="password" placeholder="Password">
            <input type="submit" value="Login">
        </form>
    </div>
</body>
